{% extends '../layout/base.html' %}
{% block head %}
<style>

</style>
<title>

</title>
{% endblock %}
{% block content %}
<div class="row my-4 mx-1">
    <form method="post" class="container my-4 flex d-flex flex-row justify-content-center">
        {% csrf_token %}
        <div class="card col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card-header">
                <p class="h4 text-center">Login</p>
            </div>
            <div class="card-body">
                <input type="text" class="form-control my-3" name="identifier"   placeholder="Enter username" minlength="3" required>
                <input type="password" class="form-control my-3" name="password" placeholder="Enter password" minlength="6" required>
                <input type="submit" class="btn btn-primary w-100">
                <div class="flex d-flex mt-2 justify-content-between">
                    <a style="text-decoration: none;" href="% url 'security:signup' %}">create account</a>
                    <a style="text-decoration: none;" href="% url 'security:forgot-password' %}">Forgot password</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}