{% extends '../layout/base.html' %}
{% block head %}
<style>
 body {
    background-color: #e4e7ed;
 }
</style>
<title>
 Signup
</title>
{% load crispy_forms_tags %}
{% load static %}

{% endblock %}
{% block content %}
<div class="row my-4 mx-1">
    <form method="post" class="container my-4 flex d-flex flex-row justify-content-center">
        {% csrf_token %}
        <div class="card shadow shadow-hover col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card-header">
                <p class="h4 text-center">Signup</p>
            </div>
            <div class="card-body">
                {{ user_create_form|crispy }}
                <input type="submit" class="btn btn-primary w-100">
                <div class="flex d-flex mt-2 justify-content-between">
                    <a style="text-decoration: none;" href="{% url 'security:login' %}">already have an create account?</a>
                    <span></span>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}