{% extends '../layout/base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<style>
</style>
<title>
    Sigup
</title>
{% endblock %}
{% block content %}
<div class="row my-4 mx-1">
    <form method="post" class="container my-4 flex d-flex flex-row justify-content-center">
        {% csrf_token %}
        <div class="card col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card-header">
                <p class="h4 text-center">Signup</p>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ user_create_form|crispy }}
                </form>
                <div class="flex d-flex mt-2 justify-content-between">
                    <a style="text-decoration: none;" href="% url 'security:signin' %}">Already have an account</a>
                    <!-- <a style="text-decoration: none;" href="{% url 'security:forgot-password' %}">Forgot password</a> -->
                    <span></span>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}