{% extends '../../layout/base.html' %}
{% block head %}
<style>
    body {
        margin-bottom: 0;
    }
    #bg-image {
        background-image: url(/static/banner/animated-404-page.gif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 60%;
    }
</style>
<title>404</title>
{% endblock %}
{% block content %}
<div id="bg-image">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
