{% extends 'layout/base.html' %}
{% load permission_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{% include 'blog/modal/image-attachment.html' %}

<style>
        body {
            background-color: #e4e7ed;
         } 
    </style>
<title>
    Management
</title>
{% endblock %}
{% block content %}
<div class=" mx-2 py-3 my-4 mt-4 mt-3 bg-secondary" style="position:sticky;"
    id="content">
    <div>

        <div class="row mx-4 mr-0">
            <div class="row pt-3 col-12 col-sm-12 col-md-8 col-lg-8 pb-4
            bg-white
                mb-3">
                <div class="mb-0 col-md-3 col-lg-3 col-sm-6 col-6 col-xl-3
                    animate__animated animate__rubberBand" id="content">
                    <div class="border">
                        <div style="margin-top: -.7em;">
                            <form method="post" action="" class="py-3">
                                <div class="text-center">
                                    <p class="text-muted h3">Users</p>
                                </div>
                                <p class="text-center text-success h5">{{user_count}}</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-6 col-xl-3
                    animate__animated animate__rubberBand" id="content">
                    <div class="border">
                        <div style="margin-top: -.7em;">
                            <form method="post" action="" class="py-3">
                                <div class="text-center">
                                    <p class="text-muted h3">Blogs</p>
                                </div>
                                <p class="text-center text-danger h5">{{post_count}}</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-6 col-xl-3
                    animate__animated animate__rubberBand" id="content">
                    <div class="border">
                        <div style="margin-top: -.7em;">
                            <form method="post" action="" class="py-3">
                                <div class="text-center">
                                    <p class="text-muted h3">Categories</p>
                                </div>
                                <p class="text-center h5">{{category_count}}</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-6 col-xl-3
                    animate__animated animate__rubberBand" id="content">
                    <div class="border">

                        <div style="margin-top: -.7em;">
                            <form method="post" action="" class="py-3">
                                <div class="text-center">
                                    <p class="text-muted h3">Comments</p>
                                </div>
                                <p class="text-center text-primary h5">{{comment_count}}</p>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="text-center">
                    {% for category in categories %}
                        <div class="badge badge-secondary bg-primary">
                            {{category.name}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="px-3 pt-1 col-12 col-sm-12 col-md-4 col-lg-4 mt-sm-2">
                <div class="animate__animated animate__backInDown animate__slow
                    bg-white" id="content">
                    <div style="margin-top: -.7em;">
                        <form method="post" action="{% url
                            'blog:model-form-data-create' 'category-create-form'
                            %}"
                            class="container pb-2">
                            <div class="row pt-2">
                                <div class="col-md-8 col-8 col-sm-8 col-lg-8">
                                    <div class="text-muted">
                                        Assigned
                                        Roles({{assigned_roles|length}})
                                    </div>
                                    <div>
                                        {% for role in assigned_roles %}
                                        <div class=" badge badge-info badge-btn
                                            bg-success">
                                            {{role}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="animate__animated animate__backInRight animate__slow
                    bg-white mt-2" id="content">
                    <div>
                        <form method="post" action="{% url
                            'blog:model-form-data-create' 'category-create-form'
                            %}"
                            class="container pb-2">
                            <div class="row pt-2">
                                <div class="col-md-8 col-8 col-sm-8 col-lg-8">
                                    <div class="text-muted">
                                        Available
                                        Roles({{available_roles|length}})
                                    </div>
                                    {% for role in available_roles %}
                                    {% if role in assigned_roles %}
                                    <div class=" badge badge-warning badge-btn
                                        bg-info">
                                        {{role}}
                                        <i class="fa fa-circle text-warning"
                                            aria-hidden="true"></i>
                                    </div>
                                    {% else %}
                                    <div class=" badge badge-info badge-btn
                                        bg-info">
                                        {{role}}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- <div class="animate__animated animate__tada bg-white mt-2"
                    id="content">
                    <button type="button" class="btn btn-group-sm btn-success w-100">Edit profile details</button>
                </div> -->
                <!-- <div class="border">
                {{user_roles}}
            </div> -->
            </div>
        </div>
        <!-- 
        -->
    </div>
    <div class="mx-3 animate__animated animate__backInUp animate__slow
        bg-white"
        id="content">
        <form method="post" enctype="multipart/form-data" action="{%url 'blog:model-form-data-create' 'post-image-create-form' %}"
            class="container pb-2 mt-2 ">
            <div class="">
                <p class="text-muted h3">
                    About Blog
                </p>
            </div>
            <div>
                {{request.user.profile.bio }}
            </div>
        </form>
    </div>
    <div class="mt-2 mx-3  animate__animated animate__fadeInUp animate__slow bg-white"
    id="content">
            <form method="post" enctype="multipart/form-data" action="{% url 'blog:model-form-data-create' 'post-image-create-form' %}"
            class="container pb-2 mt-2">
            <div class="d-flex justify-content-between">
                <div class="w-90">

                    <p class="text-muted text-center h3">
                        Blog Posts
                    </p>
                </div>
                <a href="" class="text-decoration-none d-flex mt-2">
                    <i class="fa fa-trash-o mt-1" aria-hidden="true"></i>
                    <p class="px-1">
                        Bin ({{request.user.deleted_blogs}})
                    </p> 
                </a>
            </div>
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-3 col-12 col-sm-6 col-lg-3">
                        <div class="card border">
                            {% if post.image.file %}
                                <img nopin="nopin" oncontextmenu="return false;" class="img-fluid" style="max-height:8rem; min-height: 3rem;" src="{{post.image.file.url}}">
                            {% else %}
                                <img id="modal-triggerer-btn{{post.pk}}" nopin="nopin" data-bs-toggle="modal" data-bs-target="#exampleModal" oncontextmenu="return false;" class="img-fluid" style="max-height:8rem; min-height: 3rem;" src="{% static 'image/blank.png' %}">
                            {% endif %}
                                <p class="pb-2 px-2 h5 border-bottom text-center">{{post.title}}</p>
                                <p class=" pb-2 px-2 small">{{post.created_at|date}}</p>
                            <div class="px-2 pb-2 border-bottom">
                                <p>{{post.body|truncatechars:40}}</p>
                                <div class="d-flex justify-content-between">
                                    <span>
                                        status: 
                                    </span>
                                    <span>
                                        {% if post.is_active %} 
                                        <i class="fa fa-circle text-success" aria-hidden="true"></i> 
                                        {% else %}
                                        <i class="fa fa-circle text-warning" aria-hidden="true"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="text-center py-1 px-2 d-flex justify-content-between">
                                <a href="#">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                                <a href="#{% url 'blog:post-delete' title=post.title pk=post.pk status='permanent-delete' %}" id="deleteblog" onclick="deleteBlog('{{post.pk}}', '{{post.title}}', 'permanent-delete')">
                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                </a>
                                {% if not post.is_active and post.is_deleted %}
                                    <a href="#" id="reactivateblog" onclick="reactivateBlog('{{post.pk}}', '{{post.title}}', 'reactivate-blog')">
                                        <i class=" fa fa-plus-square-o" aria-hidden="true"></i>
                                    </a>
                                {% else %}
                                    <a href="#" id="deactivateblog" onclick="deactivateBlog('{{post.pk}}', '{{post.title}}', 'temporal-delete')">
                                        <i class=" fa fa-minus-square-o" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <script>
                        let modalForm;
                        modalForm = document.getElementById("modal-triggerer-btn{{post.pk}}")
                        modalForm.addEventListener('click', () => {
                            let postForm;
                            postForm = document.getElementById("attachment-form");
                            postForm.innerHTML = `<div>
                                <div>{{post.image_form.file|as_crispy_field}}</div>
                                <div disabled>{{post.image_form.post|as_crispy_field}}</div>
                            </div>`
                        })
                    </script>
                {% endfor %}
            </div>
        </form>
    </div>
    <div class="mx-3 animate__animated animate__backInUp animate__slow
        bg-white"
        id="content">
        <form method="post" enctype="multipart/form-data" action="{% url 'blog:model-form-data-create' 'post-image-create-form' %}"
            class="container pb-2 mt-2 ">
            <div class="">
                <p class="text-muted h3">
                    Users
                </p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>username</th>
                        <th>first name</th>
                        <th>last name</th>
                        <th>email</th>
                        <th>active status</th>
                        <th>phone no</th>
                        <th>country</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            {% if user.is_active %}
                                <small>
                                    <i class=" fa fa-circle-o text-success" aria-hidden="true"></i>
                                </small>
                                {% else %}
                                <small>
                                    <i class=" fa fa-circle-o text-danger" aria-hidden="true"></i>
                                </small>
                            {% endif %}
                        </td>
                        <td>{{user.profile.phone_number}}</td>
                        <td>{{user.profile.phone_number|truncatechars:5}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>

<script src="{% static 'js/blog-status-modifier.js' %}"></script>
{% endblock %}
