{% extends '../layout/base.html' %}
{% load static %}
{% block head %}
<style>
    body {
        padding: 0;
        margin: 0;
        background-color: #6c757c;
        animation: body 1.25s linear;
      }
      @keyframes body {
        to {
          background-color: rgb(116, 123, 130);
        }
      }
      .header-options {
        cursor: pointer;
      }
      .progress {
        height: 3px;
        width: 0%;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        animation: progress 0.6s linear;
      }
      @keyframes progress {
        to {
          background-color: rgb(122, 140, 125);
          width: 100%;
        }
      }
      #header-container {
            background-image: url(/static/image/tech01.jpg); 
            background-size: cover;
            color: white;
        }
        #content {
            background-color: white;
            color: black;
            border-radius: 10px;
        }
        .card {
            background-color: rgb(245, 243, 243);
        }
    </style>
<title>
    Posts
</title>
{% endblock %}
{% block content %}
<div id="header-container" class="d-flex justify-content-between">
    <section id="header-section" class="container">
        <div class="text-info">
            <p class="h4">Top blogs</p>
            <p class="h1">Over 36+ posts</p>
        </div>     
    </section>
    <div class="mt-4 mx-2">
        <a class="btn btn-sm btn-primary float-right" href="{% url 'blog:post-forms-page' %}"><li class="fa fa-fw fa-plus" style="top: -20px;"></li>
            Add
        </a>
    </div>
</div>
{% if not request.user.is_authenticated %}
    <div class="d-flex">
        <marquee class="py-0" behavior="" direction="right">
            <sup class="text-muted">Join blogit, a community with over 400 users</sup>
    </marquee>

    <marquee class="py-0" behavior="" direction="right">
        <sup class="text-muted">Join blogit, a community with over 400 users</sup>
    </marquee>
</div>
{% else %}
<br><br>
{% endif %}
<div class=" container ml-2 py-3 my-2 mt-1" style="position:sticky;" id="content">
    <div
    style="margin-top: -2em;"
    >    
        <marquee 
        behavior="scroll" 
        direction="center"
        class="text-white text-dark"
        >
        <p class="text-info">
            ........................................................................................
        </p>
    </marquee>
    </div>
    <div class="row">
        {% for post in posts %}
        {% include 'include/blog-card.html' %}
        {% endfor %}
        <div class="col-md-6 col-12 col-sm-12 col-lg-4">
            <a href="{% url 'blog:post-forms-page' %}" class="btn btn-outline-success card h-75 d-flex justify-content-center align-content-center">
                <p class="text-muted h2 text-center">
                    <div>
                        <li class="fa fa-fw fa-plus" style="top: -20px;"></li>
                        Add
                    </div>
                </p>
            </a>            
        </div>
    </div>
</div>
{% endblock %}
