{% load crispy_forms_tags %}

<div class="offcanvas offcanvas-top mb-0" style="flex-grow: 0;background-color: #e4e7ed; min-height: 100%;" tabindex="-1" id="blogPostCreate" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTopLabel">Title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body card mb-0" style="min-height: 100vh;">
      <form action="{% url 'security:signup' %}" method="post" class="container bg-secondary overflow-auto">
          {{ post_form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-success w-100">create</button>
          <br>
      </form><br><br><br>
  </div>
</div>