{% load static %}
{% load crispy_forms_tags %}

<div class="offcanvas offcanvas-top mb-0" style="flex-grow: 0;background-color: #e4e7ed; min-height: 100%;" tabindex="-1" id="blogPostView{{post.pk}}" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header bg-dark">
    <h5 class="offcanvas-title text-muted text-white" id="offcanvasTopLabel">{{post.title}}</h5>
    <button type="button" class="btn-close btn-danger" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body w-100 mb-0" style="min-height: 100vh;">
      <form action="{% url 'security:signup' %}" method="post" class="container overflow-auto">
        <div class="container ml-2 py-2 my-4 mt-4 mt-3" style="position:sticky;" id="content">
          <div
          style="margin-top: -2em;"
          >    
              <marquee 
              behavior="scroll" 
              direction="center"
              class="text-white text-dark"
              >
              <p class="text-info">
                  ........................................................................................
              </p>
          </marquee>
          </div>
          <div class="row ">
            <div class="d-flex justify-content-center col-md-12 col-12 col-sm-12 col-lg-12">
              <figure class="card w-75">
                      <img nopin="nopin" class=" h-50" src="{% static 'image/medication.jpg' %}" alt="">
                      <div class="h3 text-center">
                          {{post.title}}
                      </div>
                      <div class="card-header border-bottom w-100 pb-2">
                          <div class="d-flex justify-content-between align-content-center border-bottom pb-1">
                              <sup class="text-muted header-options">
                                  <li class="fa fa-fw fa-archive"></li> save
                              </sup>
                              <sup class="text-muted header-options">
                                  <li class="fa fa-fw fa-thumbs-up"></li> like
                              </sup>
                              <sup class="text-muted header-options">
                                  <li class="fa fa-fw fa-thumbs-down"></li> dislike
                              </sup>
                              <sup class="text-muted header-options">
                                  <li class="fa fa-fw fa-comment"></li> comment
                              </sup>
                          </div>
                          <p class="card-body h5 text-muted pt-4">
                              {{post.body}}
                          </p>
                      </div>
                  </figure>
              </div>
          </div>
      </div>
          <br>
      </form><br><br><br>
  </div>
</div>