{% load static %}
{% load crispy_forms_tags %}

<div class="offcanvas offcanvas-top mb-0" style="flex-grow: 0;background-color: #e4e7ed; min-height: 100%;" tabindex="-1" id="profileForm" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header bg-dark">
    <h5 class="offcanvas-title text-muted text-white" id="offcanvasTopLabel">
        <img
      src="{% static 'logo/blog.png' %}"
      class="rounded-circle"
      alt="profile photo"
      onclick="
      const hiddenNavigatorBtn = document.getElementById(`hidden_btn`);  
      hiddenNavigatorBtn.href = `{% url 'blog:posts' %}`; hiddenNavigatorBtn.click();
      "
      style="width: 33%; cursor:pointer;">
    </h5>
    <button type="button" class="btn-close btn-danger text-danger" data-bs-dismiss="offcanvas" aria-label="Close"><li class="fa fa-fw fa-times mr-3"></li></button>
  </div>
  <div class="offcanvas-body w-100 mb-0" style="min-height: 100vh;">
      <div class="container overflow-auto">
        <div class="ml-2 py-2 my-2 mt-4 mt-3" id="content">
          <div class="row ">
            <div class="d-flex justify-content-center col-md-12 col-12 col-sm-12 col-lg-12">
              <figure class="card w-100">
                <div class="card-header">
                    <div class=" text-muted h3 border-bottom pb-2 text-center animate__animated animate__backInDown">
                        User Profile Info
                    </div>
                    <form class="card-body" method="post" action="{% url 'security:profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div>
                                {{request.user.profile.form.photo|as_crispy_field}}
                            </div>
                            <div>
                                {{request.user.profile.form.email|as_crispy_field}}
                            </div>
                            <div class="col-md-6 col-12 col-sm-6 col-lg-6">
                                {{request.user.profile.form.first_name|as_crispy_field}}
                            </div>
                            <div class="col-md-6 col-12 col-sm-6 col-lg-6">
                                {{request.user.profile.form.last_name|as_crispy_field}}
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 col-lg-4">
                                {{request.user.profile.form.country|as_crispy_field}}
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 col-lg-4">
                                {{request.user.profile.form.state|as_crispy_field}}
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 col-lg-4">
                                {{request.user.profile.form.postal_code|as_crispy_field}}
                            </div>
                            <div class="col-md-6 col-12 col-sm-6 col-lg-6">
                                {{request.user.profile.form.address|as_crispy_field}}
                            </div>
                            <div class="col-md-6 col-12 col-sm-6 col-lg-6">
                                {{request.user.profile.form.birth_date|as_crispy_field}}
                            </div>
                            <div class="col-md-6 col-12 col-sm-6 col-lg-6">
                                {{request.user.profile.form.phone_number|as_crispy_field}}
                            </div>
                            <div class="col-md-6 col-12 col-sm-6 col-lg-6">
                                {{request.user.profile.form.phone_number2|as_crispy_field}}
                            </div>
                            <div class="col-md-12 col-12 col-sm-6 col-lg-12">
                                {{request.user.profile.form.bio|as_crispy_field}}
                            </div>
                        </div>
                        <button type="submit" class="w-100 my-2 btn btn-primary">save profile details</button>
                    </form>
                </div>
                  </figure>
              </div>
          </div>
      </div>
        <br>
    </div><br><br><br>
  </div>
</div>