{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Register</h1>
          <button type="button" class="btn-close bg-red text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'security:signup' %}" method="post">
                {% csrf_token %}
                {{ user_create_form|crispy }}
            </form>
            <button type="submit" class="btn btn-success w-100">Submit</button>
        </div>
      </div>
    </div>
  </div>