{% for message in messages %}
    {% if message.tags == 'success' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'success',
                showConfirmButton: false,
                timer: 5500
            })
        </script>
    {% elif message.tags == 'error' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'error',
                showConfirmButton: false,
                timer: 5500
            })
        </script>
    {% elif message.tags == 'warning' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'warning',
                showConfirmButton: false,
                timer: 5500
            })
        </script>
    {% elif message.tags == 'info' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'info',
                showConfirmButton: false,
                timer: 6000
            })
        </script>
    {% endif %}
{% endfor %}
