{% for message in messages %}
    {% if message.tags == 'success' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'success',
                showConfirmButton: false,
                position: 'top-right',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                timer: 3500
            })
        </script>
    {% elif message.tags == 'error' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'error',
                showConfirmButton: false,
                position: 'top-right',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                timer: 3500
            })
        </script>
    {% elif message.tags == 'warning' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'warning',
                showConfirmButton: false,
                position: 'top-right',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                timer: 3500
            })
        </script>
    {% elif message.tags == 'info' %}
        <script>
            Swal.fire({
                title: '{{ message }}',
                timerProgressBar: true,
                denyButtonText: "close",
                showDenyButton: true,
                icon: 'info',
                showConfirmButton: false,
                position: 'top-right',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                timer: 10000
            })
        </script>
    {% endif %}
{% endfor %}
