{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img
      src="{% static 'logo/blog.png' %}"
      class="rounded-circle"
      alt="profile photo"
      style="width: 10%;">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions" aria-label="Toggle sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav d-flex justify-content-between me-auto my-2 my-lg-0
        navbar-nav-scroll" style="--bs-scroll-height: 100px;">

        <li class="nav-item px-2 d-flex">
          <i class="nav-link py-3 fa fa-fw fa-light fa-pen-to-square"></i>
          <a class="nav-link px-2" aria-current="page" href="{% url 'blog:posts'
            %}">Category</a>
        </li>

        <li class="nav-item px-2 d-flex">
          <i class="nav-link fa fa-fw fa-headset py-3"></i>
          <a class="nav-link px-2" aria-current="page" href="{% url 'blog:posts'
            %}">Posts</a>
        </li>

        <li class="nav-item px-2 d-flex">
          <i class="nav-link fa fa-fw fa-headset py-3"></i>
          <a class="nav-link px-2" aria-current="page" href="{% url 'blog:posts'
            %}">About</a>
        </li>
        <li class="nav-item px-2 d-flex">
          <i class="nav-link fa fa-fw fa-headset py-3"></i>
          <a class="nav-link px-2" aria-current="page" href="{% url 'blog:posts'
            %}">Admin</a>
        </li>
      </ul>
      <div class="text-white">
        <a class="text-white mr-3 text-decoration-none" id="login" href="">
          Log in
        </a>
        <a class="text-white h4 text-decoration-none" id="signup" href="">
          <span class="badge bg-animate bg-info badge-info">
            Sign up
          </span>
        </a>
        <!-- <img
          src="{% static 'image/guru.png' %}"
          class="rounded-circle"
          width="40"
          height="40"
          alt="profile photo"> -->
      </div>
    </div>
  </div>
</nav>