{% load permission_tags %}
<div id="header-container" class="d-flex justify-content-between animate__animated">
    <section id="header-section" class="container">
        <div class="text-info">
            <p class="h4">Top blogs</p>
            <p class="h1">Over {{request.user.total_posts}} posts</p>
        </div>     
    </section>
    {% if request.user|has_role:'admin' %}
        <div class="mt-4 mx-2">
            <a class=" animate__animated animate__rubberBand btn btn-sm btn-primary float-right" href="{% url 'blog:post-forms-page' %}"><li class="fa fa-fw fa-plus" style="top: -20px;"></li>
                Add
            </a>
        </div>
    {% endif %}
</div>